<div class="min-h-screen  h-screen flex gap-2 flex-col ">

    <nav class="">

        <ul class="bg-black w-full  text-zinc-400 p-4 flex items-center justify-between">
            <li routerLink="/states">
                <svg class="svg-icon" width="35px" height="35px" viewBox="0 0 20 20">
                    <path fill="currentColor"
                        d="M8.388,10.049l4.76-4.873c0.303-0.31,0.297-0.804-0.012-1.105c-0.309-0.304-0.803-0.293-1.105,0.012L6.726,9.516c-0.303,0.31-0.296,0.805,0.012,1.105l5.433,5.307c0.152,0.148,0.35,0.223,0.547,0.223c0.203,0,0.406-0.08,0.559-0.236c0.303-0.309,0.295-0.803-0.012-1.104L8.388,10.049z">
                    </path>
                </svg>
            </li>
            {{param}}'s places
        </ul>

    </nav>
    
    <div  class="flex pb-20  flex-wrap h-fit gap-4 py-4 px-2 justify-center md:justify-normal">

        <figure *ngFor="let place of placeService.places" class="gap-4 w-[353px] flex flex-col shadow-md rounded-sm">

            <img width="353" height="309" [src]="place.img" alt="">
            <div class="gap-4 flex flex-col p-2 ">
                <p>{{place.name}}</p>
                <button [routerLink]="'/places/'+place.name"
                    class="bg-black w-fit self-end text-white p-2 rounded-sm  ">See more</button>
            </div>
        </figure>
    </div>

    <div *ngIf="loading" class="h-full  w-full flex flex-col pb-32 justify-center items-center" >

        <img width="170" src="assets/load.webp" alt="" srcset=""/>
        <p class="text-zinc-600" >Loading places...</p>

    </div>
</div>