<div class="min-h-screen  h-screen flex flex-col p-2">
    <h2>States</h2>

    <div class="flex overflow-x-scroll h-scroll  gap-2 text-white text-base py-3 ">

        <div class="bg-[#626CC1] rounded-2xl py-[4px]  shadow-md  px-5  cursor-pointer">
            Sucumbios
        </div>
        <div class="bg-[#626CC1] rounded-2xl py-[4px]  shadow-md  px-5  cursor-pointer">
            Galapagos
        </div>
        <div class="flex-shrink-0 bg-[#626CC1] rounded-2xl py-[4px]  shadow-md  px-5  cursor-pointer">
            Los Rios
        </div>
        <div class="bg-[#626CC1] rounded-2xl py-[4px]  shadow-md  px-5  cursor-pointer">
            Sucumbios
        </div>
        <div class="bg-[#626CC1] rounded-2xl py-[4px]  shadow-md  px-5  cursor-pointer">
            Sucumbios
        </div>
        <div class="bg-[#626CC1] rounded-2xl py-[4px]  shadow-md  px-5  cursor-pointer">
            Sucumbios
        </div>

    </div>
    <div class="flex flex-col relative justify-center h-full  gap-7">

        <h1 class="font-extrabold text-5xl ">
            A easy and beautiful site for discover awesome places in Ecuador
        </h1>

        <button 
        routerLink="/states"
        class="bg-black p-2  font-semibold rounded-full  text-white text-4xl ">
            Explore!
        </button>

        <img src="colibri.webp" width="192" height="300" class="absolute top-[115px] z-[-2] right-0" alt="" srcset="">
    </div>
  

</div>