<div class="min-h-screen  h-screen flex gap-2 flex-col p-2">

    <h1>States</h1>

    <div class="flex flex-wrap h-fit gap-4 pb-20 justify-center md:justify-normal">

        <figure class="gap-4 w-[353px] flex flex-col shadow-md rounded-sm">

            <img width="353" height="309" src="assets/panesillo.jpg" alt="">
            <div class="gap-4 flex flex-col p-2 " >
            <p>Pichuncha</p>
            <button routerLink="/places/panecillo/state" class="bg-black w-fit self-end text-white p-2 rounded-sm  " >See places</button>
        </div>
        </figure>
        <figure class="gap-4 w-[353px] flex flex-col shadow-md rounded-sm">

            <img width="353" height="309" src="assets/panesillo.jpg" alt="">
            <div class="gap-4 flex flex-col p-2 " >
            <p>Pichuncha</p>
            <button routerLink="/places/panecillo/state" class="bg-black w-fit self-end text-white p-2 rounded-sm  " >See places</button>
        </div>
        </figure>
        <figure class="gap-4 w-[353px] flex flex-col shadow-md rounded-sm">

            <img width="353" height="309" src="assets/panesillo.jpg" alt="">
            <div class="gap-4 flex flex-col p-2 " >
            <p>Pichuncha</p>
            <button routerLink="/places/panecillo/state" class="bg-black w-fit self-end text-white p-2 rounded-sm  " >See places</button>
        </div>
        </figure>
        <figure class="gap-4 w-[353px] flex flex-col shadow-md rounded-sm">

            <img width="353" height="309" src="assets/panesillo.jpg" alt="">
            <div class="gap-4 flex flex-col p-2 " >
            <p>Pichuncha</p>
            <button routerLink="/places/panecillo/state" class="bg-black w-fit self-end text-white p-2 rounded-sm  " >See places</button>
        </div>
        </figure>

    </div>

</div>