<div class="min-h-screen  h-screen flex flex-col">

    <nav class="">

        <ul class="bg-black text-zinc-500 p-4 flex items-center justify-between">
            <li 
            routerLink="/states"
            class="cursor-pointer">
                <svg class="svg-icon" width="35px" height="35px" viewBox="0 0 20 20">
                    <path fill="currentColor"
                        d="M8.388,10.049l4.76-4.873c0.303-0.31,0.297-0.804-0.012-1.105c-0.309-0.304-0.803-0.293-1.105,0.012L6.726,9.516c-0.303,0.31-0.296,0.805,0.012,1.105l5.433,5.307c0.152,0.148,0.35,0.223,0.547,0.223c0.203,0,0.406-0.08,0.559-0.236c0.303-0.309,0.295-0.803-0.012-1.104L8.388,10.049z">
                    </path>-
                </svg>
            </li>
        </ul>
    </nav>
    <div *ngIf="state == 'ok'">
        <figure class="flex p-4 w-full bg-stone-900 justify-center">
            <img className="max-h-[600px] w-7/12 md:w-fit  opacity-80   max-w-[700px]" [src]='place.img' alt="" />

        </figure>
        <div class="p-2 flex flex-col  gap-2">

            <h1 class="font-medium text-lg">{{place.name}}</h1>

            <p class="whitespace-pre-wrap text-zinc-600">{{place.detalle}}</p>
            <h3 class="text-lg font-medium"> Vestimenta</h3>
        </div>


        <div class="flex flex-wrap gap-1 pb-20">

            <figure *ngFor="let img of place.ropa" (click)="openImage(img)" class="cursor-pointer">
                <img class="md:w-36 w-20" [src]="img" alt="">
            </figure>

        </div>
    </div>
    <div *ngIf="state == 'error'" class="h-full flex flex-col w-full items-center justify-center">

        <p class="text-black">Place not found</p>

    </div>
    <div *ngIf="state == 'load'" class="h-full  w-full flex flex-col pb-32 justify-center items-center">

        <img width="170" src="assets/load.webp" alt="" srcset="" />
        <p class="text-zinc-600">Loading places...</p>

    </div>
</div>


<div *ngIf="open" (click)="close($event)"
    class="h-screen w-full p-2 flex items-center justify-center fixed  z-[1000] top-0  bg-[#0000007a]">

    <div (click)="prevent($event)" class="w-fit md:p-28  flex items-center justify-center  bg-white">

        <img class="md:max-w-md" [src]="ropa" alt="">

    </div>

</div>